{% extends "base.html" %}
{% block content %}
    <h1 class="font-bold text-4xl text-white mb-4">Edit routine</h1>
    <form method="post" id="form">
        {% csrf_token %}
        {% if user.scheduleslot_set.all %}
            <div>
                {% comment %} <h1 class="font-bold text-3xl text-white">Your routine</h1> {% endcomment %}
                <div class="m-2 p-2 rounded-md bg-blue-800 w-fit">
                    <p>Note: The values in the cells are editable!</p>
                    <input type="hidden" name="routine-delete-index" id="field-routine-delete-index" value="null">
                    <script>
                        function deletePeriod(periodNum) {
                            document.getElementById('field-routine-delete-index').value = periodNum
                            document.getElementById('form').submit()
                        }
                    </script>
                    <table>
                        <tr>
                            <td></td>
                            {% for _ in ''|center:schedule_width %}
                                <th>
                                    {{ forloop.counter }}
                                    <img title="Delete this period" alt="delete period" onclick="deletePeriod({{ forloop.counter0 }})" class="hover:bg-blue-500 rounded cursor-pointer w-6 inline-block" src="https://icons.hackclub.com/api/icons/white/delete">
                                </th>
                            {% endfor %}
                            <th class="min-w-6">
                                <img title="Add new period" alt="new period" onclick="deletePeriod('new')" class="hover:bg-blue-500 rounded cursor-pointer w-6 inline-block" src="https://icons.hackclub.com/api/icons/white/plus-fill">
                            </th>
                        </tr>
                        {% for day, row in schedule_grid.items %}
                            <tr>
                                <th class="pr-1 whitespace-nowrap text-left">
                                    <input id="checkbox-{{ day }}"
                                           type="checkbox"
                                           name="checkbox-{{ day }}"
                                           class="w-4 h-4 border border-default-medium rounded-xs bg-neutral-secondary-medium focus:ring-2 focus:ring-brand-soft">
                                    <label for="checkbox-{{ day }}">{{ day|title }}</label>
                                </th>
                                {% for slot in row %}
                                    <td>
                                        <input name="slot-value-PK-{{ slot.pk }}"
                                               value="{{ slot.subject }}"
                                               class="md:min-w-15 lg:min-w-30 field-sizing-content border p-1 w-full text-center">
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% else %}
            <p>Hint: Change the 'number of periods' and hit update!</p>
        {% endif %}
        <input type="hidden" id="actionField" name="action" value="update">
        <button class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">
            Update
        </button>
        <script>
            function setActionAndSubmit(action) {
                document.getElementById('actionField').value = action
                document.getElementById('form').submit()
            }
        </script>
        <button type="button"
                onclick="setActionAndSubmit('delete')"
                class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">
            Delete selected days
        </button>
        <button type="button"
                onclick="setActionAndSubmit('undelete')"
                class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">
            Undelete selected days
        </button>
    </form>
{% endblock content %}
